:root {
    --greenColor: #155b24;
    --orangeColor: #fca422;
    --brownColor: #7B3E60;
    --darkRedColor: #B45259;
    --yellowColor: #ebab6b;
    --aquaColor: #36a6ff;
    --blueColor: #3047f8;
    --purpleColor: #9346da;
    --darkBrownColor: #483653;
    --blackColor: #12242e;
    --bgColor: #1a242b;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(32, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    min-height: 100vh;
}

.conteiner {
    margin: auto;
    height: auto;
    padding: 1rem;
    width: 100%;
    max-width: 1000px;
}

/* HEADER */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header__left,
.header__right,
.main__box,
.aside {
    height: 140px;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.btn {
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}

.header__left {
    grid-column: 1/2;
    background: var(--greenColor)
}

.header__right {
    grid-column: 2/-1;
    background: var(--orangeColor)
}

/* SECTION */

.section {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
}

/* MAIN */

.section__main {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.main__box:nth-child(1) {
    background: var(--brownColor);
    grid-row: 1/2;

}

.main__box:nth-child(2) {
    background: var(--darkRedColor);
    grid-row: 2/3;
}

.main__box:nth-child(3) {
    background: var(--yellowColor);
    grid-row: 3/4;
}

.main__box:nth-child(4) {
    background: var(--aquaColor);
    grid-row: 4/5;
}

.main__box:nth-child(5) {
    background: var(--blueColor);
    grid-row: 5/6;
}

.main__box:nth-child(6) {
    background: var(--purpleColor);
    grid-row: 6/-1;
}

/* ASIDE */

.aside {
    grid-row: 2/-1;
    background: var(--darkBrownColor);
    justify-content: center;
    align-items: center;
    height: auto;
}

.section h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

.aside__text {
    display: flex;
    flex-flow: column wrap;
    margin: 2.5rem 0;
}

.aside a {
    text-decoration: none;
    color: white;
}

.aside__btn {
    font-weight: bold;
    background: var(--bgColor);
}

/* MEDIA QUERIES */

@media (min-width:520px) {

    .header,
    .section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }
}

@media (min-width:720px) {


    .section {
        grid-template-columns: 2fr 1fr;
    }

    .section__main {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr 1fr;
    }

    .main__box:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .main__box:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2/-1;
    }

    .main__box:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .main__box:nth-child(4) {
        grid-row: 2/3;
        grid-column: 2/-1;
    }

    .main__box:nth-child(5) {
        grid-row: 3/-1;
        grid-column: 1/2;
    }

    .main__box:nth-child(6) {
        grid-row: 3/-1;
        grid-column: 2/-1;
    }

}